<div style="padding:10px 15px;" ng-controller="Deploy.Index.Ctrl" ng-container="{}">
   <div class="pull-left" ng-container="{offsetX:-280}">
      <div class="underlineTab" ng-container="{height:50}">
         <ul class="left">
            <li class="active">
               <a href="">业务</a>
            </li>
            <li>
               <a href="">主机</a>
            </li>
         </ul>
      </div>
      <div ng-container="{offsetY:-50}">
         <div ng-container="{height:40}">
            <button class="topBtn" ng-click="queryAll()"><i class="fa fa-search"></i> {{autoLanguage("创建业务")}}</button>
            <button class="topBtn" ng-click="Query()"><i class="fa fa-search"></i> {{autoLanguage("发现业务")}}</button>
            <button class="topBtn" ng-click="Insert()"><i class="fa fa-plus"></i> {{autoLanguage("卸载业务")}}</button>
         </div>
         <div style="padding-right:15px;overflow-y:auto;" ng-container="{offsetY:-40}">
            <div class="DataListBox green" style="margin-bottom:10px;">
               <table class="table loosen">
                  <tr>
                     <td>
                        <i class="fa fa-database" style="color:#02CCAA;"></i> <b>myModule_1</b>
                     </td>
                     <td style="width:110px;">
                        sequoiadb
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2" style="color:#555;">这是NOSQL数据库。</td>
                  </tr>
               </table>
            </div>
            <div class="DataListBox violet" style="margin-bottom:10px;">
               <table class="table loosen">
                  <tr>
                     <td>
                        <i class="fa fa-database" style="color:#A47FAE;"></i> <b>myModule_2</b>
                     </td>
                     <td style="width:110px;">
                        sequoiasql
                     </td>
                  </tr>
                  <tr>
                     <td>sequoiasql</td>
                  </tr>
               </table>
            </div>
            <div class="DataListBox yellow" style="margin-bottom:10px;">
               <table class="table loosen">
                  <tr>
                     <td>
                        <i class="fa fa-file" style="color:#DA9528;"></i> <b>myModule_3</b>
                     </td>
                     <td style="width:110px;">
                        hdfs
                     </td>
                  </tr>
                  <tr>
                     <td>hdfs</td>
                  </tr>
               </table>
            </div>
            <div class="DataListBox blue" style="margin-bottom:10px;">
               <table class="table loosen">
                  <tr>
                     <td>
                        <i class="fa fa-sitemap" style="color:#159FDA;"></i> <b>myModule_4</b>
                     </td>
                     <td style="width:110px;">
                        spark
                     </td>
                  </tr>
                  <tr>
                     <td>spark</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="pull-right" ng-container="{width:270}">
      <div class="borderBox" style="padding:10px 10px;overflow-y:auto;overflow-x:hidden;" ng-container="{offsetY:-123}">
         <div ng-container="{height:30}"><b>集群</b></div>
         <div ng-container="{offsetY:-30}">
            <ul style="list-style-type:none;margin:0;padding:0;">
               <li class="Ellipsis linkButton" style="margin-bottom:5px;color:#FF7547;font-weight:bold;"><i class="fa fa-archive"></i> cluster_1</li>
               <li class="Ellipsis linkButton" style="margin-bottom:5px;"><i class="fa fa-archive"></i> cluster_2</li>
               <li class="Ellipsis linkButton" style="margin-bottom:5px;"><i class="fa fa-archive"></i> cluster_3</li>
               <li class="Ellipsis linkButton" style="margin-bottom:5px;"><i class="fa fa-archive"></i> cluster_4</li>
            </ul>
         </div>
      </div>
      <div ng-container="{marginTop:10,height:113}">
         <table class="table border loosen" style="font-size:90%;">
            <tr>
               <th style="background-color:#F1F4F5;">操作</th>
            </tr>
            <tr>
               <td><a class="linkButton">一键部署</a></td>
            </tr>
            <tr>
               <td><a class="linkButton">创建集群</a></td>
            </tr>
            <tr>
               <td><a class="linkButton">删除集群</a></td>
            </tr>
         </table>
      </div>
   </div>
</div>